* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
}

app-root {
  display: block;
  min-height: 100vh;
}
.app-container { min-height: 100vh; display: flex; flex-direction: column; } .app-container > router-outlet + * { flex: 1; }
